<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="strConnection" value="Data Source=serv-viajesxchiapas.database.windows.net; Initial Catalog=CSLDB_ViajesXChiapas; user=adminViajesChiapas; password=ViajesChiapas12345" />
    <add key="strBanMac" value="false"/>
    <add key="strMac" value="00:00:00:00:00:00"/>
    <add key="CorreoTxt" value="viajeporchiapas@gmail.com" />
    <add key="PasswordTxt" value="chisvia3507100" />
    <add key="HtmlTxt" value="True" />
    <add key="HostTxt" value="smtp.gmail.com" /><!-- Para hotmail el smtp.live.com--><!-- Para gmail el smtp.gmail.com-->
    <add key="PortTxt" value="587" /><!-- Para hotmail el 587--><!-- Para gmail el 25-->
    <add key="EnableSslTxt" value="True" />
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>